@charset "UTF=8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-image: url(../img/cafeteria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color:rgb(138, 86, 41);
    margin: 10px auto;
    width: 50%;
    height: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

form {
    width: 70%;
    margin: 5px auto;

}

h1 {
    font-size: 2rem;
}

label {
    font-size: 1.2em;
    color: white;
    
}

input, select {
    margin-top: 10px;
    padding: 4px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 1em;
    border: none;
}

.check {
    margin-top: 5px;
    margin-left: 0;
}

#enviar {
    margin-left: 50%;
    transform: translate(-50%);
    padding: 5px;
    width: 60%;
    background-color: rgb(71, 194, 71);
    color: white;
}